
/* ========== Common styles ========== */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
}

.content {
    height: 100%;
}

/* ========== Header ========== */

header {
    background-image: url("headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40%;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 4rem;
}

/* ========== Main ========== */

main {
    margin: 0 auto;
    margin-top: 2rem;
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1rem;
}

/* ========== Post ========== */

.post {
    height: fit-content;
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.post:hover {
    -webkit-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
}

.post:hover .postTitle {
    color: rgb(0, 170, 0);
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.arrowUp:hover,
.arrowDown:hover {
    cursor: pointer;
}

.arrowUp img:hover,
.arrowDown img:hover {
    transform: scale(1.5);
}

.postBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.postBody h2 {
    margin-top: 0.5;
}

.postURL:hover {
    color: black;
    font-weight: bold;
}

.postBody a {
    text-decoration: none;
    color: #808080;
    margin-bottom: 1rem;
    font-size: large;
}

.postInfo {
    display: flex;
    color: #808080;
    margin-bottom: 1rem;
    font-size: small;
}

.postInfo p {
    margin-top: 0;
    margin-bottom: 0;
}

.postDate {
    margin-right: 1rem;
}

.postOptions {
    display: flex;
    align-items: flex-start;
}

.postOptions a,
.postOptions .removeBtn {
    font-size: smaller;
    margin-right: 1rem;
    background: none;
}

.postOptions a:hover,
.postOptions .removeBtn:hover {
    color: black;
    font-weight: bold;
}

.removeBtn {
    border: none;
    color: #808080;
}

.removeBtn:hover {
    cursor: pointer;
}

/* ========== Right Side ========== */

.right {
    padding: 1rem;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row-gap: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
}

.newPost,
.updatePost {
    width: 100%;
}

.newPost a,
.updatePost a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #62a1da;
    color: #eeeeee;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.newPost a:hover,
.updatePost a:hover {
    background-color: #438fd7;
    cursor: pointer;
}

.anything {
    display: flex;
    flex-direction: column;

}

.anything a {
    text-decoration: none;
    color: #808080;
    margin-bottom: 1rem;
}

.anything a:hover {
    color: black;
    font-weight: bold;
}

/* ========== New Post Creation ========== */

header p {
    font-size: small;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
}

.newPostCreation {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    width: fit-content;
    background-color: #ffffff;
    width: 40%;
    border-radius: 10px;
}

.newPostCreation:hover {
    -webkit-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
}

.newPostCreation form{
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

textarea {
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}

input {
    border: 1px black solid;
    height: 20px;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}

form button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #62a1da;
    color: #eeeeee;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 10px;
}

form button:hover {
    background-color: #438fd7;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #62a1da;
    color: #eeeeee;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none;
}

.btn:hover {
    background-color: #438fd7;
    cursor: pointer;
}

/* ========== Post Update ========== */

.postUpdate {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    width: fit-content;
    background-color: #ffffff;
    width: 40%;
    border-radius: 10px;
}

.postUpdate:hover {
    -webkit-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 7px rgba(0, 0, 0, 0.75);
}

.postUpdate form{
    display: flex;
    flex-direction: column;
}
