@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

html {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.container {
    border: solid black 1px;
    width: 30%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    background-color: rgb(255, 255, 255);
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 12px;
}

input {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    transition: border-color 0.3s ease;
    outline: none;
    font-weight: 400;
}

/* Modern Browsers */
input::placeholder {
    color: red; /* Change the color to red */
    font-weight: bold; /* Change the font weight to bold */
  }
  
  /* WebKit-based Browsers */
  input::-webkit-input-placeholder {
    color: red; /* Change the color to red */
    font-weight: bold; /* Change the font weight to bold */
  }
  
  /* Firefox */
  input::-moz-placeholder {
    color: red; /* Change the color to red */
    font-weight: bold; /* Change the font weight to bold */
  }

input:focus {
    border: 2px solid red;
}

p {
    text-align: end;
    font-size: 13px;
}

button {
    width: 100px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(91, 91, 91);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70%;
    }
}
